
table{
    background-color: #fff;
}

.preview-image{
    width: 120px;
    height: auto;
    max-height: 100px;
    border-radius: 3px;
}

#slider-delete-prompt{
    max-width: 600px;
    padding: 25px 40px;
}
#slider-delete-prompt img{
    width: auto;
    height: 140px;
}

.container{
    padding-bottom: 40px;
}