
  <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">{{ lang.ui.links }}</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" routerLink="/contact">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col s12 ref-link">
            <a class="link">{{ lang.ui.about }}</a>
            <a class="link">{{ lang.ui.copyright }}</a>
            <a class="link">{{ lang.ui.agreement }}</a>
            <a class="link">{{ lang.ui.advertisement }}</a>
            <a class="link">{{ lang.ui.privacypolicy }}</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Amnhac.com
        <a class="grey-text text-lighten-4 right" class="link">Giấy phép số </a>
        </div>
      </div>
    </footer>