.cover-title{
    background: white;
    margin-bottom: 25px;
    padding: 12px 5px 12px 5px;
    border-radius: 0px 0px 25px 25px;
    font-size: 1.6em;
    user-select: none;
}
.collection-item {
    max-height: 200px;
    overflow: hidden;
}
.badge{
    margin-right: 10px;
    float: none;
}
.song-list{
    display: block;
    font-size: 0.8em;
    white-space: pre-line;
}